@CHARSET "UTF-8";

#showtime {
	font-family: sans-serif;
	color: white;
	font-size: 22px;
}

#showtime>div {
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#showtime div>span {
	padding: 14px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 14px;
}